<p>the feed should be here</p>
<ul>
<% @feed.each do |item| %>
  <li>
    <%= item.body %>
    <% if !@site.locked || (@site.locked && session[@site.name.to_sym] == "unlocked") %>
      <%= button_to "Delete", post_path(item.id), data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
  </li>
<% end %>
</ul>
