<% if @site.locked %>
  <p>status: Private</p>
  <% else %>
  <p>status: Public</p>
<% end %>




<% if session[@site.name.to_sym] == "unlocked" && @site.locked %>
  <p>currently: Unlocked</p>
  <%= button_to "Remove password", d_site_pass_path(@site.name), method: :patch %>
<% end %>
<hr>
