

<%= render 'shared/error_messages' %>

<%#= render 'update_body' %>
<hr>
<%= render 'posts/feed' %>
<hr>

<%= render 'posts/new_post' %>

<hr>

<%= render 'password' %>



<% if false %>
<% end %>
<hr>
<p>If no messages, cannot save password.</p>
<p>Messages only live for 7 days</p>
